POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_USER=YOUR_USERNAME
POSTGRES_DB=YOUR_DB_NAME

jwt.secret=YOUR_256_BIT_SECRET_KEY_HERE_MAKE_IT_AT_LEAST_32_BYTES_LONG

REDIS_HOST=YOUR_REDIS_HOSTNAME
REDIS_PORT=YOUR_REDIS_PORT